
@font-face {
    font-family: 'Redwing';
    src: url('../fonts/redwing-medium-webfont.woff2') format('woff2');
    src: url('../fonts/redwing-light-webfont.woff2') format('woff2');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*HOME*/

:root {
    --purple-dark: #6622CC;
    --purple-light: #B391E6;
    --pink: #EC4067;
    --yellow: #fdc52f;
    --green: #38B132;
    --dark: #343434;
    --light: #f5f5f5;
    --resp-flex-direction: row;

}
/* 
.home {
    background: rgb(102,34,204);
    background: linear-gradient(45deg, rgba(102,34,204,1) 0%, rgba(129,55,238,1) 35%, rgba(179,145,230,1) 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .wrapper .container {
    margin: 1rem;
}

.home .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
    max-width: 80vw;
    height: 80vh;
    margin: auto;
    border-radius: .5em;
    padding: 5vw 10vw;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.2);
}

.home .wrapper .container ul {
    list-style: none;
    line-height: 5rem;
}

.link-style {
    font-family: 'Redwing';
    color: var(--dark);
    text-decoration: none;
	border-bottom: .125em solid var(--purple-light);
	box-shadow: inset 0 -0.125em 0 var(--purple-light);
	transition: box-shadow 300ms cubic-bezier(0.77, 0, 0.175, 1), color 300ms cubic-bezier(0.77, 0, 0.175, 1), text-decoration 300ms ease;
}

.link-style:hover {
    box-shadow: inset 0 -1.125em 0 var(--purple-light);
    color: #000;
    text-decoration: underline var(--purple-dark);
}

.link-style:focus {
    background: var(--light);
    outline: none;
    background: var(--purple-light);
    color: white;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.2);
}

.home .link-style {
    font-size: 2rem;
    text-transform: uppercase;
}
*/

.topBlock-emphasis {
    color: var(--yellow);
    text-decoration: underline;
}

.topBlock {
    min-height: 50vh;
    background-color: var(--purple-dark);
}

.topBlock-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.topBlock-text {
    display: grid;
    place-content: center;
}

.topBlock-intro {
    color: var(--light);
    max-width: 800px;
    padding: 1rem 2rem;
    font-size: 2rem;
    line-height: 1.125;
}

.topBlock-direct {
    color: var(--light);
    max-width: 800px;
    padding: 0 2rem;
}

.topBlock-nav-list {
    text-align: right;
    padding: 1rem;
    line-height: 1.5;
    list-style: none;
}

.topBlock-nav-list--index {
    padding: 1rem;
    line-height: 1.25;
    list-style: none;
}

.topBlock-nav .link-style {
    font-size: 1.25rem;
    font-family: 'Redwing';
    color: var(--light);
    text-decoration: none;
	border-bottom: .125em solid var(--purple-light);
	box-shadow: inset 0 -0.125em 0 var(--purple-light);
	transition: box-shadow 300ms cubic-bezier(0.77, 0, 0.175, 1), color 300ms cubic-bezier(0.77, 0, 0.175, 1), text-decoration 300ms ease;
}

.topBlock-nav .link-style:hover {
    box-shadow: inset 0 -1.125em 0 var(--purple-light);
    color: #000;
    text-decoration: underline var(--purple-dark);
}

.topBlock-nav .link-style:focus {
    background: var(--light);
    outline: none;
    background: var(--purple-light);
    color: white;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.2);
}

.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-section {
    min-height: fit-content;
    max-height: 65vh;
    object-fit: cover;
}

.project-cover {
    max-width: 100%;
    overflow: hidden;
    transition: opacity 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.project-cover:hover {
    opacity: 80%;
}

@media only screen and (max-width: 800px) {
    .project {
        display: grid;
        grid-template-columns: 1fr
    }
}


/*ABOUT PAGE*/

.grid-duo-1 {
    display: grid;
    width: 90%;
    justify-items: center;
    align-items: center;
    margin: 2rem auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "text img";
}

.grid-text {
    grid-area: text;
}

.grid-img {
    grid-area: img;
}

.grid-duo-2 {
    display: grid;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "img text";
}

.section {
    width: 90%;
    margin: auto;
}

.section--header{
    width: fit-content;
    margin: auto;
}

.section--content {
    max-width: 800px;
    margin: 1rem auto;
}

.icon--grid {
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
    margin: 1rem auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.inspo--grid {
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
    margin: 1rem auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

@media screen and (max-width:1100px) {
    .grid-duo-1 {
        gap: 1rem;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "text"
        "img";
    }

    .grid-duo-2 {
        gap: 1rem;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "text"
        "img";
    }

    .icon--grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .inspo--grid {
        grid-template-columns: repeat(1, 1fr);
    }
}


p {
    line-height: 1.5;
    font-size: 1rem;
    font-family: Helvetica, sans-serif;
    color: var(--dark);
}

h1 {
    font-size: 3rem;
    font-family: 'Redwing', Helvetica, sans-serif;
    border-bottom: 5px solid var(--purple-dark);
    width: fit-content;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    font-family: 'Redwing', Helvetica, sans-serif;
    border-bottom: 5px solid var(--purple-dark);
    width: fit-content;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Redwing', Helvetica, sans-serif;
    font-weight: lighter;
    border-bottom: 5px solid var(--purple-dark);
    width: fit-content;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1rem;
    font-family: Helvetica, sans-serif;
    width: fit-content;
}

/*END ABOUT PAGE*/

/* PORTFOLIO PAGES */

.image-top {
    background-image: url(/graphics/elevate-intro.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "title .";
    padding: 3rem;

}

.title-header {
    font-size: 7rem;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    border-bottom: none;
    -webkit-text-stroke: 2px var(--dark);
    -webkit-text-fill-color: var(--yellow);
    margin-bottom: 0.5rem;
}

.title p {
    color: var(--dark);
}

.title {
    grid-area: title;
    place-content: center;
    max-width: 500px;
    align-self: center;
}

.light-section {
    padding: 2rem 1rem;
    background-color: var(--light);
}

.color-section {
    padding: 2rem 1rem;
    background-color: var(--yellow);
}

.body-tags-container {
    margin: 0 auto 1rem;
    max-width: 500px;

}

.body-tags {
    display: inline-block;
    width: fit-content;
    margin-right: 1.25rem;
    text-transform: uppercase;
}

.body-text {
    max-width: 500px;
    margin: auto;
}

.body-para {
    max-width: 500px;
    margin-bottom: 1rem;
}

.body-header {
    font-size: 1.25rem;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    border-bottom: none;
    width: fit-content;
}

.body-img-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    justify-items: center;
    max-width: 1200px;
    margin: auto;
    gap: .5rem;
}

.phone-screen {
    width: 100%;
    max-width: 220px;
}

.grid-2-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: auto;
}

.line {
    border-bottom: var(--dark) solid 1px;
    max-width: 200px;
    margin: 2rem auto;
}

.body-img {
    max-width: 1000px;
    width: 100%;
    display: block;
    margin: auto;
}

.btn-yellow {
    display: inline-block;
    vertical-align: top;
    width: fit-content;
    padding: 0.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--yellow);
    text-align: center;
    position: relative;
    border: 2px solid var(--yellow);
    border-radius: 4px;
    overflow: hidden;
    transition: background-color 0.3s linear, color 0.3s linear;
    background: rgba(255, 255, 255, 0);
}

.btn-yellow:hover {
    color: var(--light);
    background: var(--yellow);
}

.elevate-video {
    border-radius: 1rem;
    width: 100%;
    max-width: 1100px;
    display: block;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-next {
    display: inline-block;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 48px;
    border: 2px solid var(--dark);
    transition: all 0.3s ease;
    text-decoration: none;
}
  
.btn-next::after {
    content: "\279C";
    font-size: 1rem;
    color: var(--dark);
    transition: all 0.3s ease;
}
  
.btn-next:hover {
    border-color: var(--yellow);
}
  
.btn-next:hover::after {
    color: var(--yellow);
}

.text-center {
    width:fit-content;
    margin: auto;
}

.inline {
    display: inline-block;
    margin-right: 1rem;
}

.next-project {
    font-size: 1.5rem;
    font-weight: lighter;
}


/* ZODIAC PAGE */

.icon-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    width: 60%;
    margin: 1rem auto;
}

.birthday-form  {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: var(--dark) solid 3px;
    width: fit-content;
    margin: 5rem auto;
}

.icon-grid button {
    width: fit-content;
}

.pop-up {
    width: 500px;
    border: var(--dark) solid 3px;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: none;
}

 button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.icon-child img{
max-width: 200px;
}

.zodiac input {
    width: 100px;
}

.zodiac {
    background-color: skyblue;
}

